<nav>
  <a routerLink="/" routerLinkActive="active">Home </a>
  <a routerLink="/Student_List" routerLinkActive="active">Student </a>
  <a routerLink="/Course_Student" routerLinkActive="active">Course </a>
  <a routerLink="/Teachr_Form" routerLinkActive="active">Teachers </a>
  <a routerLink="/Ikons" routerLinkActive="active">Ikon </a>
  <a routerLink="/menuCourse" routerLinkActive="active">menuCourse </a>
  <a routerLink="/apiService" routerLinkActive="active">api service </a>
  <a routerLink="/login" routerLinkActive="active">Log Out </a>
  <a routerLink="/logout" routerLinkActive="active">Log In </a>
</nav>
<router-outlet></router-outlet>
